.titulo h1 {
   color: #025f2b;
   font-size: 40px;
   text-align: center; 
}

nav {
   background-color: rgb(230, 0, 0);
   height: 50px;
}
.navbar-collapse {
  background-color: rgb(230, 0, 0);
}
footer {
   background-color: rgb(230, 0, 0)
}
header {
  position: relative;
  z-index: 1;
}

.navbar {
  position: relative;
  z-index: 2;
}
.text-center {
   color: #025f2b;
}
.header-banner {
   height: 500px; 
   position: relative;
   
}